<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AdventureWorksLT2016Entities" connectionString="metadata=res://*/AzFunctionsAppDatabaseContext.csdl|res://*/AzFunctionsAppDatabaseContext.ssdl|res://*/AzFunctionsAppDatabaseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=AdventureWorksLT2016;persist security info=True;user id=sa;password=YOUR_PASSWORD;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>